/* BEGIN GENERAL */

body {
    background-color: #044;
    color: white;
    font-family: 'Monda', sans-serif;
}
a {
    color: white;
}
a:hover {
    /*color: gray;*/
}
a:active {
    color: #044;
}
ul {
    position: relative;
    float: left;
    display: block;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* END GENERAL */


/* BEGIN NAV */

.navbar {
    animation-name: expand-down;
    animation-duration: 1s;
}
.navbar:after {
    position: fixed;
    bottom: 0;
}
.navbar-custom {
    background-color: transparent;
    border: none;
}
.navbar-custom:after {
    position: fixed;
    bottom: 0;
}
.navbar-container:after {
    position: fixed;
    bottom: 0;
}
.navbar-custom li {
    background-color: transparent;
    display: inline;
    position: relative;
    float: left;
    display: block;
    right: 50%;
    font-size: 25px;
}
.navbar-nav li a:hover {
    background-color: white;
    color: #044;
    font-weight: bold;
}
.name-header {
    font-size: 100px;
    text-align: center;
    animation-name: expand-up;
    animation-duration: 1s;
    padding-top: 5vh;
}
@media (max-width: 400px) {
    .name-header {
        font-size: 20vw;
    }
}

/* END NAV */

@keyframes expand {
    from {
        height: 0px;
    }
    to {
        height: 72vh;
    }
}
.content-container {
    background-color: #003D3D;
    font-size: 4vh;
    text-align: center;
    animation-name: expand;
    animation-duration: 1s;
    height: 72vh;
    width: 100%:
}
.content-container::after {
    height: 72vh;
}
