body {
  height: 100vh;
  /* font-family: "Catamaran", Helvetica, sans-serif; */
  font-family: futura-pt, sans-serif;
  color: #292929 !important;
  overflow-x: hidden;
}

.header {
  padding-top: 5vh;
  text-align: center;
  /* opacity: 0; */
  -webkit-transition: padding-top 0.4s, opacity 0.4s;
  transition: padding-top 0.4s, opacity 0.4s;
}

.expanded .header {
  padding-top: 0vh;
}

.profile-container {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.loaded {
  opacity: 1;
}

.opal-header:before {
  height: 1000px;
  width: 1000px;
}

.content-container {
  /* background-color: whitesmoke; */
  height: 100vh !important;
  width: 100vw;
  padding: 0px;
}

.content-container .expanded {
  height: 100vh !important;
  width: 100vw;
}

/* .profile-container .expanded {
  background-color: darkslategray;
} */

/* ACTION PANEL */
.profile {
  width: 150px;
  border-radius: 100%;
  box-shadow: white 0px;
  -webkit-transition: box-shadow 0.2s, width 0.2s;
  transition: box-shadow 0.2s, width 0.2s;
}

.profile:hover {
  box-shadow: gray 0px 8px 10px;
  /* width: calc(20vw + 20px); */
}

/* .profile .expanded {
  border: 10px solid red !important;
} */

h1 {
  font-size: 80px;
  font-weight: bold;
  padding-top: 10%;
  white-space: nowrap;
  /* text-shadow: 2px 2px 4px #acacac; */

  -webkit-transition: font-size 0.2s, padding-top 0.4s;
  transition: font-size 0.2s, padding-top 0.4s;
}

h3 {
  font-size: 18px;
  /* padding-top: 15px; */
}

.subheader-container {
  overflow: hidden;
  max-height: 200px;
  opacity: 1;
  -webkit-transition: max-height 0.3s, opacity 0.3s;
  transition: max-height 0.3s, opacity 0.3s;
}

.expanded .subheader-container {
  max-height: 0px;
  opacity: 0;
}

.expanded h1 {
  padding-top: 0px;
  /* font-size: 40pt */
}

.expanded .opal {
  /* color: white; */
}

/* .profile:hover {
  box-shadow: gray 0px 8px 10px;
  width: calc(20vw + 20px);
} */
/* .contact-container { */
/* margin-left: 25%; */
/* } */

.opal {
  max-width: 150px !important;
  margin-top: 10pt;
  z-index: 99999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-container a,
.contact-container a:hover {
  text-decoration: none;
}

.contact-container h3 {
  font-size: 16px;
}

.social-icon {
  max-height: 30px !important;
  opacity: 0.4;
}

.button-container {
  width: 50vw;
  /* height: 30vh; */
  padding-top: 45vh;
  /* position: fixed; */
  /* display: inline-block; */
  -webkit-transition: padding-top 0.3s;
  transition: padding-top 0.3s;
}

.expanded .button-container {
  padding-top: 0px;
}

.opal,
.opal-soften {
  width: 100%;
  /* height: 30px !important; */
  font-size: 15px;
  font-weight: bold;
}

.opal:hover {
  cursor: pointer;
  color: white !important;
}

.opal-outline {
  border: 1px solid #292929 !important;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

/* .selected {
  color: white !important;
} */

.contact-container {
  /* margin-left: 25%; */
  width: 80%;
}

.content {
  opacity: 0;
  font-size: 18pt;
  text-align: left;
  padding-top: 40pt;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.expanded .content {
  opacity: 1;
  padding-top: 50pt
}

.content img {
  height: 300pt;
  border-radius: 4pt;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content h2 {
  font-size: 20pt
}

.content p {
  font-size: 14pt
}

.content ul {
  margin: 0pt;
  padding: 0pt;
}

.content li {
  font-size: 14pt;
  display: inline-block;
  /* background-color: gray;
  color: white; */
  /* margin: 3pt; */
  padding: 5pt;
  border-radius: 4pt;
  list-style: none;
}

.content .opal {
  /* min-width: 200px !important; */
  padding: 0px !important;
  margin: 0px !important;
  max-width: 400px !important;
}

.content .opal-awake {
  color: #292929 !important;
}

.content .opal-awake:hover {
  color: white !important;
}

.small-content {
  padding-top: 15%;
}

.opal-node:before { 
  background: linear-gradient(135deg, #008d07 0%, #11a15ec5 40%, #006696c5 75%, #00598d 100%) no-repeat !important; 
}

.opal-angular:before {
  background: linear-gradient(135deg, rgb(214, 33, 33) 0%,#c71212 40%, #b80909 60%) no-repeat !important; 
}

.opal-react:before {
  background: linear-gradient(135deg, #0086df 30%,  #0067dd 50%, #0f2652 70%) no-repeat !important; 
}

.opal-java:before {
  background: linear-gradient(135deg, #005f9e 20%, #915e00 50%, #ff9100 80%) no-repeat !important; 
}

.opal-d20:before {
  background: linear-gradient(135deg, #005f9e 40%, #5900ff 80%) no-repeat !important;
}

/* .opal-text {
  background: -webkit-linear-gradient(#ff0000b0 40%, #0000ff80, #00a2ff50);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: text_pan360 5s infinite, sway 8s infinite;
  animation-timing-function: linear;

}

.opal-text:before {
} */

.button-magnet-container {
  padding: 20pt
}

/* MOBILE */
@media (max-width: 550px) {
  .container {
    padding-top: 5vh;
  }

  .profile-container .expanded {
    width: 20vw !important;
  }

  /* ACTION PANEL */
  .profile {
    width: 200px;
    margin-top: 5vh;
    /* margin-left: 25%;
  margin-right: 25%; */
    margin-bottom: 5vh;
    border-radius: 100%;
    box-shadow: white 0px;
    -webkit-transition: box-shadow 0.2s, width 0.2s;
    transition: box-shadow 0.2s, width 0.2s;
  }

  .button-container {
    width: 100%;
  }

  .contact-container a,
  .contact-container a:hover {
    text-decoration: none;
  }

  .contact-container h3 {
    /* text-align: left; */
    font-size: 16px;
  }

  .social-icon {
    max-height: 30px !important;
    opacity: 0.4;
  }

  /* DETAIL PANEL */
  h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 0px;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
    white-space: nowrap;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 16px;
    /* letter-spacing: 2px; */
  }

  .button-row {
    padding-top: 20px;
  }

  .blur {
    filter: blur(5px);
  }

  .expanded h1 {
    font-size: 20px;
  }

  .expanded .profile {
    width: 20vw;
  }
}

@keyframes text_pan360 {
  to {
    transform: rotate(360deg);
  }
}
